/* dashboard scrollbar */
.dashboard::-webkit-scrollbar {
  width: 20px;
}
.dashboard::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 0px 10px 10px 0px;
}
.dashboard::-webkit-scrollbar-thumb {
  background: #1e646f88;
  border-radius: 0px 10px 10px 0px;
  box-shadow: inset 2px 2px 4px #1e646fbb, inset -2px -2px 4px #1e646fbb;
}
.dashboard::-webkit-scrollbar-thumb:hover {
  background: #1e646faa;
  box-shadow: inset 2px 2px 4px #1e646f88, inset -2px -2px 4px #1e646f88;
}

/* dialogue questions list scrollbar */
#questionList::-webkit-scrollbar {
  width: 10px;
}
#questionList::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 0px 0px 10px 0px;
}
#questionList::-webkit-scrollbar-thumb {
  background: #1e646f88;
  border-radius: 0px 0px 10px 0px;
  box-shadow: inset 2px 2px 4px #1e646fbb, inset -2px -2px 4px #1e646fbb;
}
#questionList::-webkit-scrollbar-thumb:hover {
  background: #1e646faa;
  box-shadow: inset 2px 2px 4px #1e646f88, inset -2px -2px 4px #1e646f88;
}

/* update/create question pictograms list scrollbar */
.pictogramList::-webkit-scrollbar {
  width: 15px;
}
.pictogramList::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}
.pictogramList::-webkit-scrollbar-thumb {
  background: #1e646f88;
  box-shadow: inset 2px 2px 4px #1e646fbb, inset -2px -2px 4px #1e646fbb;
}
.pictogramList::-webkit-scrollbar-thumb:hover {
  background: #1e646faa;
  box-shadow: inset 2px 2px 4px #1e646f88, inset -2px -2px 4px #1e646f88;
}
